

.login-container {
  background-color: #ffe680;
  width: 350px;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 80px;
   border: 3px solid #000;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
  font-weight: 700;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.input-group input:focus {
  border-color: #000;
  outline: none;
  box-shadow: 0 0 5px #000;
}

.options {
  text-align: right;
  margin-bottom: 15px;
}

.options a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.options a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  width: 100%;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ffe680;
  color: #000;
  border-color: #000;
}

.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #000;
}

.signup a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.signup a:hover {
  text-decoration: underline;
  color: #333;
}
